@media (max-width: 375px) {
  .header {
    padding: 4rem 2.4rem 0;
    margin-bottom: 2.3rem;
    position: relative;
  }

  .section-hero {
    flex-direction: column-reverse;
    gap: 10.4rem;
    padding: 0 2.4rem 16.8rem;
  }

  .img-working-container {
    flex-basis: 27rem;
    max-height: 27rem;
    width: 100%;
  }

  .img-working {
    height: 125%;
  }

  .heading-primary {
    font-size: 4.2rem;
    line-height: 114%;
    text-align: center;
    letter-spacing: -1.05px;
    margin-bottom: 1.5rem;
  }
  .hero-description {
    font-size: 1.8rem;
    line-height: 167%;
    text-align: center;
    letter-spacing: 0.122727px;
    margin-bottom: 3.2rem;
  }
  .btn-cta {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  .statistics-container {
    padding: 0 2.4rem 8rem;
  }

  .shorten-container {
    transform: translateY(-8rem);
  }

  .shorten {
    padding: 2.4rem;
    background-image: url(/../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 91px -20px;
  }

  .shorten-form {
    flex-direction: column;
    gap: 1.6rem;
  }

  .error .shorten-form {
    gap: 3.8rem;
  }

  .error .error-msg {
    transform: translateY(100%) translateY(4px);
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.0818182px;
  }

  .error .statistics-title-container {
    margin-top: 2.2rem;
  }

  #shorten-input {
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 225%;
    letter-spacing: 0.12px;
    padding: 0.6rem 1.6rem;
  }

  .btn-shorten {
    border-radius: 5px;
    flex-basis: 4.8rem;
    font-size: 1.8rem;
  }

  .link-block {
    flex-direction: column;
    align-items: unset;
    gap: 0.6rem;
    padding: 0.6rem 1.6rem 1.6rem;
    overflow-x: visible;
  }

  .link-orig {
    font-size: 1.6rem;
    line-height: 225%;
    letter-spacing: 0.12px;
  }
  .link-short {
    font-size: 1.6rem;
    line-height: 225%;
    letter-spacing: 0.12px;
    margin-bottom: 0.8rem;
  }
  .btn-copy {
    width: 100%;
    padding: 0.9rem 2rem 0.7rem;
  }

  .link-short-btn::before {
    content: "";
    display: block;
    width: calc(100% + 3.2rem);
    margin-left: -1.6rem;
    background-color: #9e9aa8;
    padding: 0.5px;
    opacity: 0.25;
    margin-bottom: 0.6rem;
  }

  .link-short-btn {
    flex-direction: column;
    align-items: unset;
    gap: unset;
    width: 100%;
  }

  .statistics-title {
    gap: 1.6rem;
  }

  .statistics-title-container {
    margin-bottom: 9.2rem;
    margin-top: 0;
  }

  .heading-secondary {
    text-align: center;
    font-size: 2.8rem;
    line-height: 171%;
    letter-spacing: -0.7px;
  }

  .statistics-description {
    font-size: 1.6rem;
    line-height: 175%;
    letter-spacing: 0.109091px;
  }

  .statistics-info {
    flex-direction: column;
    gap: 9.2rem;
  }

  .statistic {
    margin: 0 !important;
    padding: 7.7rem 3.2rem 4.1rem;
    flex-basis: unset;
  }

  .subheading {
    font-size: 2.2rem;
    text-align: center;
  }

  .statistic-paragraph {
    font-size: 1.5rem;
    line-height: 173%;
    text-align: center;
  }

  .icon-container {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
  }

  .statistics-info::after {
    height: 100%;
    width: unset;
    content: "";
    padding: 0 0.4rem;
    top: unset;
    transform: translateX(-0.4rem);
    left: 50%;
  }

  .cta {
    padding: 9rem 3.55rem;
    gap: 1.6rem;
    background-image: url(/../images/bg-boost-mobile.svg);
  }

  .cta-heading {
    font-size: 2.8rem;
    line-height: 171%;
    letter-spacing: -0.7px;
    text-align: center;
  }

  .btn-cta {
    padding: 1.4rem 4rem 1.2rem;
  }

  .flex-footer {
    padding: 5.4rem 0;
    flex-direction: column;
    flex-basis: unset;
    justify-content: unset;
    align-items: center;
    gap: 4.93rem;
  }

  .footer-nav-social {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .logo-footer {
    flex-grow: 0;
  }

  .footer-heading {
    text-align: center;
  }

  .footer-nav {
    align-items: center;
  }

  .nav-col:nth-child(3) {
    margin-left: unset;
  }

  .footer-nav-social {
    gap: 4.8rem;
  }

  /* MOBILE NAV*/

  .btn-mobile-nav {
    display: block;
  }

  .logo-nav-container {
    justify-content: space-between;
  }

  .navigation {
    padding: 4rem 2.4rem;
    position: absolute;
    top: 9.6rem;
    left: 50%;
    flex-direction: column;
    width: 87.2%;
    background-color: var(--Dark-Violet);
    border-radius: 10px;
    /* animation */
    transform: translateX(100%);
    transition: all 0.3s ease-in;

    /*hiding*/
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    color: #fff;
  }

  .nav-open {
    transform: translateX(-50%);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
  }

  .nav-list > li:nth-child(4) {
    margin-left: unset;
  }

  .nav-list > li:nth-child(3)::after {
    content: "";
    display: block;
    width: 100%;
    padding: 0.5px;
    background-color: #9e9aa8;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    opacity: 0.25;
  }

  .nav-link:link,
  .nav-link:visited {
    color: #fff;
    font-size: 1.8rem;
    line-height: unset;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #fff;
  }

  .login-container {
    width: 100%;
    flex-direction: column;
    gap: 2.4rem;
  }

  .btn-signup {
    width: 100%;
    font-size: 1.8rem;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
  }
}
